.DS_Store
.idea/

/microservices/.gradle/**
/microservices/build/**
/microservices/**/build/**
/microservices/**/out/**

frontend/node_modules/
frontend/.next/
frontend/build/
frontend/.react-router/
frontend/test-results/
